# Assignment 1: How much does your car cost?

## Data

The retail price of 2005 General Motors cars can be found in `car_data.csv`.

**Data Descriptions**:

||Features|Descriptions
|-|-|-|
|1| Price   | suggested retail price of the used 2005 GM car in excellent condition|
|2| Mileage | number of miles the car has been driven|
|3| Make    | manufacturer of the car such as Saturn, Pontiac, and Chevrolet|
|4| Model   | specific models for each car manufacturer such as Ion, Vibe, Cavalier|
|5| Trim (of car)| specific type of car model such as SE Sedan 4D, Quad Coupe 2D |         
|6| Type    | body type such as sedan, coupe, etc |
|7| Cylinder| number of cylinders in the engine    |    
|8| Liter   | a more specific measure of engine size|     
|9| Doors   | number of doors           |
|10| Cruise | indicator variable representing whether the car has cruise control (1 = cruise)|
|11| Sound  | indicator variable representing whether the car has upgraded speakers (1 = upgraded)|
|12| Leather| indicator variable representing whether the car has leather seats (1 = leather)|

#### 1 Import necessary libraries

In [1]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: scipy>=1.0 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: pandas>=0.23 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (4.28.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: packaging>=20.0 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ducma\anaconda3\envs\python_2\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

In [2]:
# Libraries to load data
import pandas as pd
import numpy as np

# Libraries to visualize
import seaborn as sns
import matplotlib.pyplot as plt

# Libraries to create and evaluate models

#### 2. Load the data from csv file to `pandas` dataframe

In [5]:
df = pd.read_csv('car_data.csv')

#### 3. Inspect the first 5 rows of the dataframe

In [6]:
df.head(5)

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.103129,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.036083,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.847862,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.913140,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.170324,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

#### 4. Check the number of rows and columns

In [7]:
df.shape

(804, 12)

In [8]:
len(df), len(df.columns)

(804, 12)

#### 5. Get some information about the dataset via `.info()`

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 804 entries, 0 to 803
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     804 non-null    float64
 1   Mileage   804 non-null    int64
 2   Make      804 non-null    object
 3   Model     804 non-null    object
 4   Trim      804 non-null    object
 5   Type      804 non-null    object
 6   Cylinder  804 non-null    int64
 7   Liter     804 non-null    float64
 8   Doors     804 non-null    int64
 9   Cruise    804 non-null    int64
 10  Sound     804 non-null    int64
 11  Leather   804 non-null    int64
dtypes: float64(2), int64(6), object(4)
memory usage: 75.5+ KB

#### 6. Check number of missing values per columns

#### 7. Get table of distributions each features and visualize this distribution.

#### 8. Visualize correlation coefficient between features and label.

#### 9. Split the dataset into train and test set with ratio 90:10 with random seeds of 42.

#### 10. Find the best combination of factors to predict price with linear regression classifier.

E.g:
- Use mileage to find the linear regression equation.
- Use mileage, cylinders, liters, doors, cruise, sound, and leather to find the linear regression equation.

#### 11. Evaluate your model performance using R-squared Error.

#### 12. Visualize the actual prices and predicted prices of the test set.